# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [95]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Apply/US%20Crime%20Rates/United_States_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [113]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
crime = pd.read_csv(url)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175.0,3384200.0,288460.0,3095700.0,9110.0,17190.0,107840.0,154320.0,912100.0,1855400.0,328200.0
1,1961,182992000.0,3488000.0,289390.0,3198600.0,8740.0,17220.0,106670.0,156760.0,949600.0,1913000.0,336000.0
2,1962,185771000.0,3752200.0,301510.0,3450700.0,8530.0,17550.0,110860.0,164570.0,994300.0,2089600.0,366800.0
3,1963,188483000.0,4109500.0,316970.0,3792500.0,8640.0,17650.0,116470.0,174210.0,1086400.0,2297800.0,408300.0
4,1964,191141000.0,4564600.0,364220.0,4200400.0,9360.0,21420.0,130390.0,203050.0,1213200.0,2514400.0,472800.0

### Step 4. Set the Year column as the index of the dataframe

In [114]:
crime = crime.set_index('Year', drop = True)
crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175.0,3384200.0,288460.0,3095700.0,9110.0,17190.0,107840.0,154320.0,912100.0,1855400.0,328200.0
1961,182992000.0,3488000.0,289390.0,3198600.0,8740.0,17220.0,106670.0,156760.0,949600.0,1913000.0,336000.0
1962,185771000.0,3752200.0,301510.0,3450700.0,8530.0,17550.0,110860.0,164570.0,994300.0,2089600.0,366800.0
1963,188483000.0,4109500.0,316970.0,3792500.0,8640.0,17650.0,116470.0,174210.0,1086400.0,2297800.0,408300.0
1964,191141000.0,4564600.0,364220.0,4200400.0,9360.0,21420.0,130390.0,203050.0,1213200.0,2514400.0,472800.0

### Step 5. What is the type of the columns?

In [115]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 1960 to 2014
Data columns (total 11 columns):
Population            55 non-null float64
Total                 55 non-null float64
Violent               55 non-null float64
Property              55 non-null float64
Murder                55 non-null float64
Forcible_Rape         55 non-null float64
Robbery               55 non-null float64
Aggravated_assault    55 non-null float64
Burglary              55 non-null float64
Larceny_Theft         55 non-null float64
Vehicle_Theft         55 non-null float64
dtypes: float64(11)
memory usage: 5.2 KB

### Step 6. What is the number of columns in the dataset?

In [118]:


crime.applymap(lambda x: "{:,}".format(x).rstrip('0').rstrip('.'))

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,"179,323,175","3,384,200","288,460","3,095,700","9,110","17,190","107,840","154,320","912,100","1,855,400","328,200"
1961,"182,992,000","3,488,000","289,390","3,198,600","8,740","17,220","106,670","156,760","949,600","1,913,000","336,000"
1962,"185,771,000","3,752,200","301,510","3,450,700","8,530","17,550","110,860","164,570","994,300","2,089,600","366,800"
1963,"188,483,000","4,109,500","316,970","3,792,500","8,640","17,650","116,470","174,210","1,086,400","2,297,800","408,300"
1964,"191,141,000","4,564,600","364,220","4,200,400","9,360","21,420","130,390","203,050","1,213,200","2,514,400","472,800"
1965,"193,526,000","4,739,400","387,390","4,352,000","9,960","23,410","138,690","215,330","1,282,500","2,572,600","496,900"
1966,"195,576,000","5,223,500","430,180","4,793,300","11,040","25,820","157,990","235,330","1,410,100","2,822,000","561,200"
1967,"197,457,000","5,903,400","499,930","5,403,500","12,240","27,620","202,910","257,160","1,632,100","3,111,600","659,800"
1968,"199,399,000","6,720,200","595,010","6,125,200","13,800","31,670","262,840","286,700","1,858,900","3,482,700","783,600"
1969,"201,385,000","7,410,900","661,870","6,749,000","14,760","37,170","298,850","311,090","1,981,900","3,888,600","878,500"
1970,"203,235,298","8,098,000","738,820","7,359,200","16,000","37,990","349,860","334,970","2,205,000","4,225,800","928,400"
1971,"206,212,000","8,588,200","816,500","7,771,700","17,780","42,260","387,700","368,760","2,399,300","4,424,200","948,200"
1972,"208,230,000","8,248,800","834,900","7,413,900","18,670","46,850","376,290","393,090","2,375,500","4,151,200","887,200"
1973,"209,851,000","8,718,100","875,910","7,842,200","19,640","51,400","384,220","420,650","2,565,500","4,347,900","928,800"
1974,"211,392,000","10,253,400","974,720","9,278,700","20,710","55,400","442,400","456,210","3,039,200","5,262,500","977,100"
1975,"213,124,000","11,292,400","1,039,710","10,252,700","20,510","56,090","470,500","492,620","3,265,300","5,977,700","1,009,600"
1976,"214,659,000","11,349,700","1,004,210","10,345,500","18,780","57,080","427,810","500,530","3,108,700","6,270,800","966,000"
1977,"216,332,000","10,984,500","1,029,580","9,955,000","19,120","63,500","412,610","534,350","3,071,500","5,905,700","977,700"
1978,"218,059,000","11,209,000","1,085,550","10,123,400","19,560","67,610","426,930","571,460","3,128,300","5,991,000","1,004,100"
1979,"220,099,000","12,249,500","1,208,030","11,041,500","21,460","76,390","480,700","629,480","3,327,700","6,601,000","1,112,800"
1980,"225,349,264","13,408,300","1,344,520","12,063,700","23,040","82,990","565,840","672,650","3,795,200","7,136,900","1,131,700"
1981,"229,146,000","13,423,800","1,361,820","12,061,900","22,520","82,500","592,910","663,900","3,779,700","7,194,400","1,087,800"
1982,"231,534,000","12,974,400","1,322,390","11,652,000","21,010","78,770","553,130","669,480","3,447,100","7,142,500","1,062,400"
1983,"233,981,000","12,108,600","1,258,090","10,850,500","19,310","78,920","506,570","653,290","3,129,900","6,712,800","1,007,900"
1984,"236,158,000","11,881,800","1,273,280","10,608,500","18,690","84,230","485,010","685,350","2,984,400","6,591,900","1,032,200"
1985,"238,740,000","12,431,400","1,328,800","11,102,600","18,980","88,670","497,870","723,250","3,073,300","6,926,400","1,102,900"
1986,"240,132,887","13,211,869","1,489,169","11,722,700","20,613","91,459","542,775","834,322","3,241,410","7,257,153","1,224,137"
1987,"242,282,918","13,508,700","1,483,999","12,024,700","20,096","91,110","517,704","855,088","3,236,184","7,499,900","1,288,674"
1988,"245,807,000","13,923,100","1,566,220","12,356,900","20,680","92,490","542,970","910,090","3,218,100","7,705,900","1,432,900"
1989,"248,239,000","14,251,400","1,646,040","12,605,400","21,500","94,500","578,330","951,710","3,168,200","7,872,400","1,564,800"
1990,"248,709,873","14,475,600","1,820,130","12,655,500","23,440","102,560","639,270","1,054,860","3,073,900","7,945,700","1,635,900"
1991,"252,177,000","14,872,900","1,911,770","12,961,100","24,700","106,590","687,730","1,092,740","3,157,200","8,142,200","1,661,700"
1992,"255,082,000","14,438,200","1,932,270","12,505,900","23,760","109,060","672,480","1,126,970","2,979,900","7,915,200","1,610,800"
1993,"257,908,000","14,144,800","1,926,020","12,218,800","24,530","106,010","659,870","1,135,610","2,834,800","7,820,900","1,563,100"
1994,"260,341,000","13,989,500","1,857,670","12,131,900","23,330","102,220","618,950","1,113,180","2,712,800","7,879,800","1,539,300"
1995,"262,755,000","13,862,700","1,798,790","12,063,900","21,610","97,470","580,510","1,099,210","2,593,800","7,997,700","1,472,400"
1996,"265,228,572","13,493,863","1,688,540","11,805,300","19,650","96,250","535,590","1,037,050","2,506,400","7,904,700","1,394,200"
1997,"267,637,000","13,194,571","1,634,770","11,558,175","18,208","96,153","498,534","1,023,201","2,460,526","7,743,760","1,354,189"
1998,"270,296,000","12,475,634","1,531,044","10,944,590","16,914","93,103","446,625","974,402","2,329,950","7,373,886","1,240,754"
1999,"272,690,813","11,634,378","1,426,044","10,208,334","15,522","89,411","409,371","911,740","2,100,739","6,955,520","1,152,075"
2000,"281,421,906","11,608,072","1,425,486","10,182,586","15,586","90,178","408,016","911,706","2,050,992","6,971,590","1,160,002"
2001,"285,317,559","11,876,669","1,439,480","10,437,480","16,037","90,863","423,557","909,023","2,116,531","7,092,267","1,228,391"
2002,"287,973,924","11,878,954","1,423,677","10,455,277","16,229","95,235","420,806","891,407","2,151,252","7,057,370","1,246,646"
2003,"290,690,788","11,826,538","1,383,676","10,442,862","16,528","93,883","414,235","859,030","2,154,834","7,026,802","1,261,226"
2004,"293,656,842","11,679,474","1,360,088","10,319,386","16,148","95,089","401,470","847,381","2,144,446","6,937,089","1,237,851"
2005,"296,507,061","11,565,499","1,390,745","10,174,754","16,740","94,347","417,438","862,220","2,155,448","6,783,447","1,235,859"
2006,"299,398,484","11,401,511","1,418,043","9,983,568","17,030","92,757","447,403","860,853","2,183,746","6,607,013","1,192,809"
2007,"301,621,157","11,251,828","1,408,337","9,843,481","16,929","90,427","445,125","855,856","2,176,140","6,568,572","1,095,769"
2008,"304,374,846","11,160,543","1,392,628","9,767,915","16,442","90,479","443,574","842,134","2,228,474","6,588,046","958,629"
2009,"307,006,550","10,762,956","1,325,896","9,337,060","15,399","89,241","408,742","812,514","2,203,313","6,338,095","795,652"
2010,"309,330,219","10,363,873","1,251,248","9,112,625","14,772","85,593","369,089","781,844","2,168,457","6,204,601","739,565"
2011,"311,587,816","10,258,774","1,206,031","9,052,743","14,661","84,175","354,772","752,423","2,185,140","6,151,095","716,508"
2012,"313,873,685","10,219,059","1,217,067","9,001,992","14,866","85,141","355,051","762,009","2,109,932","6,168,874","723,186"
2013,"316,497,531","9,850,445","1,199,684","8,650,761","14,319","82,109","345,095","726,575","1,931,835","6,018,632","700,294"
2014,"318,857,056","9,475,816","1,197,987","8,277,829","14,249","84,041","325,802","741,291","1,729,806","5,858,496","689,527"

### Step 7. Print the name of all the columns.

In [117]:
crime.Population.sum()

13538557224.0

### Step 8. How is the dataset indexed?

### Step 9. Which was the most ordered item?

### Step 10. What was the most ordered item?

### Step 11. How many items were orderd in total?

### Step 12. How many orders have more than 1 item?

### Step 13. How much was the revenue for the period in the dataset?

### Step 14. How many orders were made in the period?

### Step 15. What is the average amount per order?

### Step 16. How many different itens are sold?