# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Apply/US%20Crime%20Rates/United_States_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [31]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Apply/US%20Crime%20Rates/United_States_Crime_Rates_1960_2014.csv"
crime = pd.read_csv(url)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,"179,323,175","3,384,200","288,460","3,095,700","9,110","17,190","107,840","154,320","912,100","1,855,400","328,200"
1,1961,"182,992,000","3,488,000","289,390","3,198,600","8,740","17,220","106,670","156,760","949,600","1,913,000","336,000"
2,1962,"185,771,000","3,752,200","301,510","3,450,700","8,530","17,550","110,860","164,570","994,300","2,089,600","366,800"
3,1963,"188,483,000","4,109,500","316,970","3,792,500","8,640","17,650","116,470","174,210","1,086,400","2,297,800","408,300"
4,1964,"191,141,000","4,564,600","364,220","4,200,400","9,360","21,420","130,390","203,050","1,213,200","2,514,400","472,800"

### Step 4. Set the Year column as the index of the dataframe

In [63]:
crime = crime.set_index('Year', drop = True)
crime.head()

(55, 11)

### Step 5. What is the type of the columns?

In [41]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 1960 to 2014
Data columns (total 11 columns):
Population            55 non-null object
Total                 55 non-null object
Violent               55 non-null object
Property              55 non-null object
Murder                55 non-null object
Forcible_Rape         55 non-null object
Robbery               55 non-null object
Aggravated_assault    55 non-null object
Burglary              55 non-null object
Larceny_Theft         55 non-null object
Vehicle_Theft         55 non-null object
dtypes: object(11)
memory usage: 5.2+ KB

### Step 6. What is the number of columns in the dataset?

In [94]:
# # numbers_columns = crime.loc[: , "Population":"Vehicle_Theft"]
# # numbers_columns.head()

# s = crime.ix[:,0]

# # s.convert_objects(convert_numeric = True)
# pd.to_numeric(s)

# pd.to_numeric(s, errors='ignore')
# pd.to_numeric(s, errors='coerce')

# crime.convert_objects(convert_numeric=True)

# df.column_name = df.column_name.astype(float)

crime.Population = crime.Population.astype(str)
crime.info()
# crime.Population.dtypes

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 1960 to 2014
Data columns (total 11 columns):
Population            55 non-null object
Total                 55 non-null object
Violent               55 non-null object
Property              55 non-null object
Murder                55 non-null object
Forcible_Rape         55 non-null object
Robbery               55 non-null object
Aggravated_assault    55 non-null object
Burglary              55 non-null object
Larceny_Theft         55 non-null object
Vehicle_Theft         55 non-null object
dtypes: object(11)
memory usage: 5.2+ KB

### Step 7. Print the name of all the columns.

In [88]:
crime.dtypes

Population            object
Total                 object
Violent               object
Property              object
Murder                object
Forcible_Rape         object
Robbery               object
Aggravated_assault    object
Burglary              object
Larceny_Theft         object
Vehicle_Theft         object
dtype: object

### Step 8. How is the dataset indexed?

### Step 9. Which was the most ordered item?

### Step 10. What was the most ordered item?

### Step 11. How many items were orderd in total?

### Step 12. How many orders have more than 1 item?

### Step 13. How much was the revenue for the period in the dataset?

### Step 14. How many orders were made in the period?

### Step 15. What is the average amount per order?

### Step 16. How many different itens are sold?