# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
rows = chipo.shape[0]
rows

4622

In [5]:
# Solution 2
rows = len(chipo.iloc[:])
rows

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
columns = chipo.shape[1]
columns

5

### Step 7. Print the name of all the columns.

In [7]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
chipo.groupby("item_name").sum().sort_values(ascending=False, by="quantity").iloc[0].name

'Chicken Bowl'

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
chipo.groupby("item_name").sum().sort_values(ascending=False, by="quantity")["quantity"][0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
chipo.groupby("choice_description").sum().sort_values(ascending=False, by="quantity").iloc[0].name

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [12]:
chipo["quantity"].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
chipo["item_price"].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
# Solution 1
chipo["item_price"] = chipo["item_price"].apply(lambda col: col.replace("$", "")).astype("float")

In [15]:
# Solution 2
# chipo["item_price"].str.replace("$", "").astype("float")

#### Step 13.c. Check the item price type

In [16]:
chipo["item_price"].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
revenue = chipo["item_price"] * chipo["quantity"]

chipo["revenue"] = revenue
chipo["revenue"].sum()

39237.02

### Step 15. How many orders were made in the period?

In [18]:
chipo.groupby("order_id").sum().shape[0]

1834

### Step 16. What is the average revenue amount per order?

In [19]:
# Solution 1
chipo.groupby("order_id").aggregate(np.sum)["revenue"].mean()

21.39423118865867

In [20]:
# Solution 2
chipo.pivot_table(index="order_id", values="revenue",  aggfunc=np.sum).mean().iloc[0]

21.39423118865867

### Step 17. How many different items are sold?

In [21]:
chipo["item_name"].unique().shape[0]

50