# Ex -

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.
We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
names = pd.read_csv('/Users/guilhermeoliveira/Programar/Python/Pandas/pandas_exercises/Stats/US_Baby_Names/US_Baby_Names.csv')
names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5647426 entries, 0 to 5647425
Data columns (total 6 columns):
Id        int64
Name      object
Year      int64
Gender    object
State     object
Count     int64
dtypes: int64(3), object(3)
memory usage: 258.5+ MB

### Step 4. See the first 10 entries

### Step 5. What is the number of observations in the dataset?

In [4]:
# len(names["Year"].unique())
names = names[names.Year > 2003]
names.info()
names.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1016395 entries, 11349 to 5647425
Data columns (total 6 columns):
Id        1016395 non-null int64
Name      1016395 non-null object
Year      1016395 non-null int64
Gender    1016395 non-null object
State     1016395 non-null object
Count     1016395 non-null int64
dtypes: int64(3), object(3)
memory usage: 54.3+ MB

          Id     Name  Year Gender State  Count
11349  11350     Emma  2004      F    AK     62
11350  11351  Madison  2004      F    AK     48
11351  11352   Hannah  2004      F    AK     46
11352  11353    Grace  2004      F    AK     44
11353  11354    Emily  2004      F    AK     41

### Step 6. What is the number of columns in the dataset?

In [5]:
names.to_csv('/Users/guilhermeoliveira/Programar/Python/Pandas/pandas_exercises/Stats/US_Baby_Names/US_Baby_Names_right.csv')

### Step 7. Print the name of all the columns.

### Step 8. How is the dataset indexed?

### Step 9. Which was the most ordered item?

### Step 10. What was the most ordered item?

### Step 11. How many items were orderd in total?

### Step 12. How many orders have more than 1 item?

### Step 13. How much was the revenue for the period in the dataset?

### Step 14. How many orders were made in the period?

### Step 15. What is the average amount per order?

### Step 16. How many different itens are sold?