# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")

In [38]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 4. How many products cost more than $10.00?

#### Personal Step 4.1 Convert the item_price Column to float64

In [8]:
chipo["item_price"] = chipo["item_price"].str.replace("$", "").astype("float64")

In [16]:
chipo[chipo["item_price"] > 10.00]["item_price"].count()

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [21]:
chipo[["item_name", "item_price"]]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [22]:
chipo[["item_name", "item_price"]].sort_values(by="item_name")

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [70]:
chipo.sort_values(by="item_price", ascending=False)["quantity"].iloc[0]

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [57]:
chipo[chipo["item_name"] == "Veggie Salad Bowl"]["quantity"].count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [62]:
chipo[(chipo["item_name"] == "Canned Soda") & (chipo["quantity"] > 1)].count().values[0]

20